<div class="login">
  <h1>Log in</h1>  
  <%=  form_for :user, url: log_in_user_path do |f| %>
  <p>  
    <%= label_tag :email %><br />  
    <%= text_field_tag :email, params[:email] %>  
  </p>  
  <p>  
    <%= label_tag :password %><br />  
    <%= password_field_tag :password %>  
  </p>  
  <br />
  <br />
  <p class="button"><%= submit_tag 'Log in'%></p>  
  <% end %>  
</div>